.bg-red{
   background-color: #FFCDD2;
}
.bg-pink{
   background-color: #F8BBD0;
}
.bg-purple{
   background-color: #E1BEE7;
}
.bg-deep-purple{
   background-color: #D1C4E9;
}
.bg-indigo{
   background-color: #C5CAE9;
}
.bg-blue{
   background-color: #BBDEFB;
}
.bg-light-blue{
   background-color: #B3E5FC;
}
.bg-cyan{
   background-color: #B2EBF2;
}
.bg-teal{
   background-color: #B2DFDB;
}
.bg-green{
   background-color: #C8E6C9;
}
.bg-light-green{
   background-color: #DCEDC8;
}
.bg-lime{
   background-color: #F0F4C3;
}
.bg-yellow{
   background-color: #FFF9C4;
}
.bg-amber{
   background-color: #FFECB3;
}
.bg-orange{
   background-color: #FFE0B2;
}
.bg-deep-orange{
   background-color: #FFCCBC;
}
.bg-brown{
   background-color: #D7CCC8;
}
.bg-grey{
   background-color: #F5F5F5;
}
.bg-blue-grey{
   background-color: #CFD8DC;
}